@import url('https://fonts.googleapis.com/css?family=Kadwa:400,700|Raleway&subset=devanagari');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

#introductionText:nth-child(1) {
  font-size: 2em;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6em;
}

dl {
  margin-left: 25%;
}

h2 {
  text-align: center;
  font-family: 'Kadwa', serif;
  margin-bottom: 2em;
}

#topBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 5em;
  width: 100vw;
  opacity: 0.4;
  font-size: 0.8em;
  background: #000;
}

#title {
  margin-left: 1em;
  color: #fff;
  font-weight: lighter;
}

.green {
  width: 100vw;
  min-height: 50em;
  max-height: 1000px;
  height: 80vh;
  background-color: #7DCBC4;
  display: flex;
  padding-bottom: 2em;
  justify-content: center;
  align-items: center;
}

.introEnd {
  /* min-height: 50em;
  max-height: 1000px;
  height: 50vh; */
  padding-bottom: 5em;
  padding-top: 5em;
  justify-content: center;
  align-items: center;
}

.introEnd #wrapper {
  margin-top: 4em;
}

#prog_lang {
  font-family: 'Anonymous Pro', monospace;
  text-align: justify;
  width: 400px;
  padding-top: 6em;
  align-self: flex-start;
}

#prog_lang p {
  font-weight: 300;
}

#idiomas dd,
#idiomas dt {
  width: auto;
  margin: auto;
}

#idiomas dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: auto 30vw auto 30vw;
}

#iconBlock {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  margin-left: auto;
  margin-right: auto;
}

#iconBlock>div {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  height: 24em;
}

#iconBlock div img {
  width: 20vw;
  max-width: 200px;
  align-self: center;
  transition: 0.5s;
  transform: scale(1);
}

#iconBlock div img:active,
#iconBlock div img:hover {
  opacity: 0.5;
  transform: scale(1.3);
}

a {
  align-self: center;
}

.iconText {
  opacity: 0;
  cursor: default;
  font-size: 1.1em;
  width: 12em;
  margin-top: 3em;
  text-align: center
}

#iconBlock div:active>.iconText,
#iconBlock div:hover>.iconText {
  transition: 0.5s;
  opacity: 1;
}

section {
  display: inline-block;
  padding-top: 2em;
  padding-bottom: 2em;
}

section>p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70vw;
}

hr {
  width: 54vw;
}

dd,
dt {
  float: left;
  font-size: 1.2em;
  width: 20vw;
  margin: 0;
  padding-bottom: 0.5em;
}

dd {
  width: 35vw;
}

dd dd,
dt dd {
  margin-left: auto;
  /* margin-right: auto; */
}

dt {
  font-weight: 600;
  clear: left;
}

dt:active+dd,
dt:hover+dd {
  background-color: #dcdcdc;
}

dt:active+dd+dd,
dt:hover+dd+dd {
  background-color: #dcdcdc;
}

.soc {
  clear: both;
  margin-left: -2em;
  padding: 1em;
  padding-bottom: 0;
}

.soc svg {
  margin-right: 1em;
  height: 100px;
  width: 100px;
}

.soc a {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  margin-top: 2em;
  transform: scale(1);
  transition: 0.5s;
}

.soc a:active,
.soc a:hover {
  opacity: 0.5;
  transform: scale(1.3);
}

svg:hover path,
svg:active path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.icon {
  margin-top: 1em;
  background: black;
  border-radius: 100%;
  color: white;
  fill: white;
}

.github {
  background: #6441a5;
  color: white;
  fill: white;
  margin-left: 1em;
}

.linkedin {
  background: white;
  color: #007BB6;
  fill: #007BB6;
}

.numbers {
  font-size: 0.9em;
}

.newItem {
  margin-top: 2em;
}

@media only screen and (max-width: 768px) {
  #title {
    font-size: 1.3em;
  }

  .list-grid {
    display: grid;
  }

  .soc {
    display: flex;
    float: left;
    margin-bottom: 3em;
    margin-left: -3em;
  }

  .iconText {
    font-size: 0.8em;
    opacity: 1;
  }

  #topBar {
    height: 3em;
  }

  dd,
  dt {
    min-width: 30vw;
    margin-left: -1.5em;
  }

  #main {
    width: 100%;
    overflow: hidden;
    margin-right: auto;
  }
}

@media only screen and (max-width: 520px) {
  #prog_lang {
    width: 65vw;
    padding-bottom: 3em;
  }

  .green {
    font-size: .8em;
    padding-bottom: 25em;
  }

  #title {
    font-size: 1.2em;
  }

  dd,
  dt {
    font-size: .8em;
    min-width: 40vw;
  }

  dd {
    padding-left: 2em;
  }

  dl {
    margin-left: 3em;
  }

  #idiomas dt {
    margin-left: -10vw;
  }

  #iconBlock div {
    height: 20em;
    padding-bottom: 1em;
  }
}