@import url('https://fonts.googleapis.com/css?family=Kadwa:400,700|Raleway&subset=devanagari');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#animated_intro:nth-child(1) {
  font-size: 2em;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6em;
}

dl {
  margin-left: 25%;
}

h2 {
  text-align: center;
  font-family: 'Kadwa', serif;
  margin-bottom: 2em;
}

#topbar {
  position: fixed;
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-auto-rows: auto;
  top: 0;
  left: 0;
  z-index: 1;
  height: 5em;
  width: 100vw;
  font-size: 0.8em;
  background-color: rgb(0, 0, 0, 0.4)
}

#topbar h1 {
  cursor: default;
}

#topbar img {
  width: 6vw;
  max-width: 40px;
  align-self: center;
  justify-self: right;
  margin-right: 3vw;
}

nav {
  position: fixed;
  margin-top: 3em;
  align-self: flex-end;
  z-index: 30;
}

nav ul {
  display: grid;
  height: 95vh;
  width: 100vw;
  background: rgb(154, 187, 184, 0.6);
  opacity: 1;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0;
  /* margin-top: -120vh; */
  transition: all 0.5s;
}

nav ul li {
  display: inline-block;
  line-height: normal;
  text-align: center;
}

nav ul li a {
  display: -webkit-inline-box;
  color: black;
  font-weight: 500;
  font-size: 1.5em;
  font-variant: small-caps;
  justify-self: center;
  text-decoration: none;
  transition: all 0.3s;
}

nav ul li:not(#menu-attribution) a {
  padding: 2vh 30vw;
}

nav ul li a:hover,
nav ul li a:active {
  transform: scale(1.1);
  cursor: pointer;
}

nav ul li:last-of-type {
  align-self: end;
}

nav hr {
  width: 80vw;
  opacity: 0.4;
  border-color: white;
}

/* TODO: this class should be activated from the get go */
nav ul.hide {
  margin-top: -200vh;
}

/* TODO:  */
main.navactive {
  transition: all 0.5s;
  opacity: 0.1;
}

#topbar.activenav {
  transition: all 0.5s;
  opacity: 0.8;
}

#menu-attribution span,
#menu-attribution a {
  font-size: 0.7em;
  color: black;
  text-decoration: none;
}

#menu-attribution {
  max-width: 80vw;
}

#menu-attribution span {
  opacity: 0.6;
}

#title {
  margin-left: 1em;
  color: #fff;
  font-weight: lighter;
}

#introduction {
  width: 100vw;
  min-height: 50em;
  height: auto;
  background-color: #7DCBC4;
  display: flex;
  padding-bottom: 2em;
  justify-content: center;
}

#introduction>div {
  font-family: 'Anonymous Pro', monospace;
  width: 400px;
  padding-top: 3em;
  align-self: initial;
}

#introduction>div p {
  font-weight: 300;
}

#prog-languages {
  padding-bottom: 5em;
  padding-top: 5em;
  justify-content: center;
  align-items: center;
}

#prog-languages #wrapper {
  margin-top: 4em;
}

#languages dd,
#languages dt {
  width: auto;
  margin: auto;
}

#languages dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: auto 30vw auto 30vw;
}

#iconblock {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  margin-left: auto;
  margin-right: auto;
}

#iconblock>div {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  height: 24em;
}

#iconblock div img {
  width: 20vw;
  max-width: 200px;
  align-self: center;
  transition: 0.5s;
  transform: scale(1);
}

#iconblock div img:active,
#iconblock div img:hover {
  opacity: 0.5;
  transform: scale(1.3);
}

a {
  align-self: center;
}

.iconText {
  opacity: 0;
  cursor: default;
  font-size: 1.1em;
  width: 12em;
  margin-top: 3em;
  text-align: center
}

#iconblock div:active>.iconText,
#iconblock div:hover>.iconText {
  transition: 0.5s;
  opacity: 1;
}

section {
  display: inline-block;
  padding-top: 2em;
  padding-bottom: 2em;
}

section>p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70vw;
}

hr {
  width: 54vw;
}

dd,
dt {
  float: left;
  font-size: 1.2em;
  width: 20vw;
  margin: 0;
  padding-bottom: 0.5em;
}

dd {
  width: 35vw;
}

dd dd,
dt dd {
  margin-left: auto;
}

dt {
  font-weight: 600;
  clear: left;
}

dt:active+dd,
dt:hover+dd {
  background-color: #dcdcdc;
}

dt:active+dd+dd,
dt:hover+dd+dd {
  background-color: #dcdcdc;
}

.soc {
  clear: both;
  margin-left: -2em;
  padding: 1em;
  padding-bottom: 0;
}

.soc svg {
  margin-right: 1em;
  height: 100px;
  width: 100px;
}

.soc a {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  margin-top: 2em;
  transform: scale(1);
  transition: 0.5s;
}

.soc a:active,
.soc a:hover {
  opacity: 0.5;
  transform: scale(1.3);
}

svg:hover path,
svg:active path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.icon {
  margin-top: 1em;
  background: black;
  border-radius: 100%;
  color: white;
  fill: white;
}

.github {
  background: #6441a5;
  color: white;
  fill: white;
  margin-left: 1em;
}

.linkedin {
  background: white;
  color: #007BB6;
  fill: #007BB6;
}

.numbers {
  font-size: 0.9em;
}

.newitem {
  margin-top: 2em;
}

@media only screen and (max-width: 768px) {
  #title {
    font-size: 1.3em;
  }

  .list-grid {
    display: grid;
  }

  .soc {
    display: flex;
    float: left;
    margin-bottom: 3em;
    margin-left: -3em;
  }

  .iconText {
    font-size: 0.8em;
    opacity: 1;
  }

  #topbar {
    height: 3em;
  }

  #topbar img {
    max-width: 20px;
    margin-top: -0.5em;
  }

  nav {
    margin-top: 1.4em;
  }

  dd,
  dt {
    min-width: 30vw;
    margin-left: -1.5em;
  }

  #main {
    width: 100%;
    overflow: hidden;
    margin-right: auto;
  }
}

@media only screen and (max-width: 520px) {
  nav {
    margin-top: 1em;
    font-size: 1.2em;
  }

  nav ul li a {
    font-size: 1.2em;
  }

  #introduction>div {
    width: 65vw;
    padding-bottom: 3em;
    font-size: .8em;
    align-self: baseline;
  }

  #title {
    font-size: 1.2em;
  }

  dd,
  dt {
    font-size: .8em;
    min-width: 40vw;
  }

  dd {
    padding-left: 2em;
  }

  dl {
    margin-left: 3em;
  }

  #languages dt {
    margin-left: -10vw;
  }

  #iconblock div {
    height: 20em;
    padding-bottom: 1em;
  }
}