@import url('https://fonts.googleapis.com/css?family=Kadwa:400,700|Raleway&subset=devanagari');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

html {
  overflow: scroll;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6em;
}

dl {
  margin-left: 25%;
}

h2 {
  text-align: center;
  font-family: 'Kadwa', serif;
  margin-bottom: 2em;
}

#topBar {
  z-index: 1;
  height: 5em;
  width: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: fixed;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}

#title {
  margin-left: 1em;
  color: #fff;
  font-weight: lighter;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 0.6;
    transform: translateX(0);
  }
}

#prog_lang p {
  font-weight: 300;
}

.green {
  width: 100vw;
  min-height: 50em;
  max-height: 1000px;
  height: 80vh;
  background-color: #7DCBC4;
  display: flex;
  padding-bottom: 2em;
  justify-content: center;
  align-items: center;
}

#prog_lang {
  font-family: 'Anonymous Pro', monospace;
  text-align: justify;
  width: 350px;
  padding-top: 8em;
  /* animation: typewriter 2s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden; */
}

#prog_lang>h4,
#prog_lang>h3 {
  animation: typewriter 2s steps(50) 1s 1 normal both,
    blinkTextCursor 500ms steps(50) infinite normal;
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

#prog_lang>h3 {
  animation: typewriter_ 2s steps(70) 1s 1 normal both,
    blinkTextCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 380px;
  }
}

@keyframes typewriter_ {
  from {
    width: 0;
  }

  to {
    width: 210px;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255);
  }

  to {
    border-right-color: transparent;
  }
}

#iconBlock {
  display: flex;
  flex-flow: nowrap;
  overflow: auto;
  margin-right: 5em;
}

#iconBlock::-webkit-scrollbar {
  background: transparent;
  /* make scrollbar transparent */
}

#iconBlock div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-width: 200px;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 2em;
}

#iconBlock div img {
  width: 100%;
  transition: 0.5s;
  text-align: center;
}

#iconBlock div img:active,
#iconBlock div img:hover {
  opacity: 0.5;
  transform: scale(1.3);
}

.iconText {
  opacity: 0;
  cursor: default;
  font-size: 1.2em;
  width: 8em;
  margin-top: 3em;
  text-align: center
}

#iconBlock div:active>.iconText,
#iconBlock div:hover>.iconText {
  transition: 0.5s;
  opacity: 1;
}

section {
  display: inline-block;
  padding-top: 2em;
  padding-bottom: 2em;
}

section>p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70vw;
}

hr {
  width: 54vw;
}

dd,
dt {
  float: left;
  font-size: 1.2em;
  width: 20vw;
  margin: 0;
  padding-bottom: 0.5em;
}

dd {
  width: 35vw;
}

dd dd,
dt dd {
  margin-left: auto;
  /* margin-right: auto; */
}

dt {
  clear: left;
}

dt:active+dd,
dt:hover+dd {
  background-color: #dcdcdc;
}

dt:active+dd+dd,
dt:hover+dd+dd {
  background-color: #dcdcdc;
}

.soc svg {
  margin-right: 1em;
  height: 100px;
  width: 100px;
}

.soc a {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  margin-top: 2em;
}

.soc a:active,
.soc a:hover {
  opacity: 0.5;
  transform: scale(1.3);
}

svg:hover path,
svg:active path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.soc {
  clear: both;
  margin-left: -2em;
  padding: 1em;
  padding-bottom: 0;
}

.icon {
  margin-top: 1em;
  background: black;
  border-radius: 100%;
  color: white;
  fill: white;
}

.icon:hover,
.icon:active {
  background: white;
  color: black;
  fill: black;
}

.github {
  background: #6441a5;
  color: white;
  fill: white;
  margin-left: 1em;
}

.linkedin {
  background: white;
  color: #007BB6;
  fill: #007BB6;
}

.linkedin:hover,
.linkedin:active,
.github:hover,
.github:active {
  fill: white;
  background: black;
  transition: .6s;
}

.numbers {
  font-size: 0.9em;
}

.newItem {
  margin-top: 2em;
}

.wrapper {
  position: absolute;
}

.right {
  right: -10vw;
}

.left {
  left: -15vw;
}

.wrapper svg {
  width: 50px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
}

.wrapper svg:hover .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  5% {
    transform: translateX(-0.1rem);
  }

  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  #title {
    font-size: 1.3em;
  }

  .list-grid {
    display: grid;
  }

  .soc {
    display: flex;
    float: left;
    margin-bottom: 3em;
    margin-left: -3em;
  }

  .iconText {
    display: none;
  }

  #topBar {
    height: 3em;
  }

  dd,
  dt {
    min-width: 30vw;
    margin-left: -1.5em;
  }

  #main {
    width: 100%;
    overflow: hidden;
    margin-right: auto;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }

    to {
      width: 390px;
    }
  }

  @keyframes typewriter_ {
    from {
      width: 0;
    }

    to {
      width: 210px;
    }
  }
}

@media only screen and (max-width: 520px) {
  #prog_lang {
    width: 90vw;
    margin-top: 10em;
    padding-bottom: 3em;
  }

  .green {
    font-size: .8em;
    padding-bottom: 15em;
  }

  #title {
    font-size: 1.2em;
  }

  dd,
  dt {
    font-size: .8em;
    min-width: 40vw;
  }

  dd {
    padding-left: 2em;

  }

  dl {
    margin-left: 3em;
  }

  #iconBlock {
    margin-right: 0;
  }

  #iconBlock div {
    margin-left: 1em;
    margin-right: 0;
    padding-bottom: 2em;
  }

  #iconBlock div img {
    width: 60%;
  }

  .wrapper svg {
    margin-top: -13vw;
    width: 30px;
    overflow: hidden;
  }

  .right {
    right: -20vw;
  }

  .left {
    left: -20vw;
  }
}