.hero-wrapper {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    align-items: center;
    font-family: sans-serif;
}

.hero-wrapper>div {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
    min-height: 300px;
    align-items: center;
}

.hero-wrapper h3 {
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding: 1em 10em;
    font-weight: 100;
}

.hero-wrapper .superheros {
    display: grid;
    align-content: center;
}

.hero-wrapper ul {
    display: grid;
    left: 0;
    grid-gap: 5px;
}

.hero-wrapper li {
    display: grid;
    justify-content: center;
}

.hero-wrapper ul>li>img {
    max-width: 150px;
}

.hero-wrapper .box {
    width: 50px;
    height: 50px;
    padding: 50px;
    transition: width 0.2s, height 0.6s;
    position: relative;
    justify-self: center;
    color: white;
}

.hero-wrapper .box.batman {
    background: black url(../images/batman.png) center bottom 13px no-repeat;
}

.hero-wrapper .box.wonder {
    background: black url(../images/wonder.png) center bottom 13px no-repeat;
}

.hero-wrapper .box.flash {
    background: black url(../images/flash.png) center bottom 13px no-repeat;
}

.hero-wrapper .box.opening {
    width: 380px;
    height: 400px;
    padding-top: 10px;
}

.hero-wrapper .box>* {
    display: none;
}

.hero-wrapper .box h2 {
    position: absolute;
    text-align: left;
    cursor: default;
    width: 80%;
    font-size: 60px;
    transform: translateX(-200%);
    opacity: 0;
    transition: all 0.5s;
    top: -10px;
}

.hero-wrapper .box.display>* {
    display: inline;
}

.hero-wrapper .box.open>* {
    transform: translateX(0%);
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .hero-wrapper {
        width: 100%;
        grid-template-columns: 100vw;
        grid-template-rows: 180px 1fr;
    }

    .hero-wrapper h3 {
        padding: 1em 1em;
        width: 15em;
    }

    .hero-wrapper>div {
        grid-template-columns: 1fr;
    }

    .hero-wrapper .superheros {
        display: flex;
        width: 100vw;
        margin-top: -5vh;
        justify-content: center;
    }

    .hero-wrapper .superheros ul {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        left: auto;
    }

    .hero-wrapper ul>li>img {
        width: 20vw;
    }
}

@media only screen and (max-width: 520px) {
    .superheros ul {
        left: 0;
        width: 100%;
    }

    .hero-wrapper .box {
        padding-left: 20px;
        font-size: 60px;
        max-width: 280px;
        max-height: 400px;
    }

    .hero-wrapper .box.batman {
        background: black url(../images/batman.png) center bottom no-repeat;
    }

    .hero-wrapper .box.wonder {
        background: black url(../images/wonder.png) center bottom no-repeat;
    }

    .hero-wrapper .box.flash {
        background: black url(../images/flash.png) center bottom no-repeat;
    }
}

/* iPad in Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

/* iPad Pro in Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {}